<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/images/todo.png" />
  <title>ToDo List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body >

  <div class="box" id="heading">
    <h1> <%= listHeading %> </h1>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++) { %>
      <form  action="/delete" method="post" name="listName" value="<%= listTitle %>" >
        <div class="item">
        <input type="checkbox" onChange="this.form.submit()" name = "checkbox" value ="<%= newListItems[i]._id  %>">
        <p><%= newListItems[i].name  %></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>">
      </form>
      <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autofocus="autofocus" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
